/* ==========================================================================
    Builds our style structure
        https://sass-guidelin.es/#the-7-1-pattern
   ========================================================================== */
.welcome-txt {
  text-align: center;
  margin-top: 200px;
  text-shadow: #726f61 1px 0 10px;
}

.aff-text {
  margin-top: 20px;
  text-shadow: #726f61 1px 0 10px;
}

.notfound-txt {
  text-align: center;
  margin-top: 200px;
  text-shadow: #726f61 1px 0 10px;
  color: red;
}
